@font-face {
    font-family: "Montserrat-Regular";
    src: url('/assets/Fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url('/assets/Fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('/assets/Fonts/Montserrat/Montserrat-Bold.ttf');
}