.form {
  display: flex;
  
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: 'Montserrat-Medium'; 
    border: 1px solid $main-blue-color;
    border-radius: 50px;

    div.form-group {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin: 20px;

      div.form-input {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

        label {
         margin-right: 40px;
         padding: 5px;
        }
        
        input {
          width: 200px;
          padding: 5px 20px;
          border: 1px solid $main-blue-color;
          border-radius: 30px;
          font-family: 'Montserrat-Medium'; 

          &:focus,&:hover {
            background-color: $main-blue-color;
            color: white;
            outline: none;
          }
        }
      }

      div.form-checkbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        input {
          &:focus {
            outline: none;
          }
        }
      }
    }

    button {
      height: 50px;
      width: 250px;
      margin: 30px 0;
      font-family: 'Montserrat-Bold';
      font-size: 20px; 
      color: $main-blue-color;
      background-color: white;
      border: 1px solid $main-blue-color;
      border-radius: 50px;
  
      &:hover{
        color: white;
        background-color: $main-blue-color; 
      }

      &:focus {
        outline: none;
      }
    }
  }

  .alert {
    width: 300px;
    padding: 5px 20px;
    background-color: #dd7676;
    border-radius: 20px;
    font-size: 15px;
  }
}   