.form {
  display: flex;
  
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: 'Montserrat-Medium'; 
    border: 1px solid $main-blue-color;
    border-radius: 50px;

    div.form-group {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin: 10px;

      div.form-input {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        label {
          flex-wrap: wrap;
          width: 150px;
          text-align: center;
          font-size: 20px; 
        }
        
        input {
          width: 200px;
          margin: 10px;
          padding: 5px 20px;
          border: 1px solid $main-blue-color;
          border-radius: 30px;
          font-family: 'Montserrat-Medium'; 
          font-size: 15px; 

          &:focus,&:hover {
            background-color: $main-blue-color;
            color: white;
          }
        }
      }

      div.form-checkbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin: 10px;
        
        input{
          width: 50px;
        }
      }
    }

    button {
      height: 50px;
      width: 250px;
      margin: 30px 0;
      font-family: 'Montserrat-Bold';
      font-size: 20px; 
      color: $main-blue-color;
      background-color: white;
      border: 1px solid $main-blue-color;
      border-radius: 50px;
  
      &:hover, &:focus {
        color: white;
        background-color: $main-blue-color; 
      }
    }
  }

  .alert {
    width: 200px;
    padding: 0px 20px;
    margin: auto;
    color: white;
    background-color: $main-red-color;
    border: 1px solid $main-red-color;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Montserrat-Medium'; 
    text-align: center;
  }

  @media (max-width: 400px){

    form {

      div.form-group {
        margin: 0;

        div.form-input {
          width: 220px;
        }

        label {
          width: 100px;
          font-size: 15px; 
        }

        input {
          width: 100px;
          font-size: 12px; 
        }
      }
      button {
        width: 150px;
        font-size: 15px;
      }
    }

    .alert {
      width: 100px;
      font-size: 12px;
    }
  }
}   