nav.navbar{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 60px 5%;


  div.nav-list-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
  }

  .nav-item {
    width: 200px;
    font-family: 'Montserrat-Medium'; 
    font-size: 20px;
    text-align: center;
    
    img.nav-logo{
      width: 200px;
     margin: 0 20px;
    }

    a {
      width: 200px;
      text-decoration: none;
      color: inherit;
    }
  }

  .login-button {
    height: 35px;
    width: 150px;
    padding: 0;
    font-family: 'Montserrat-Bold'; 
    color: $main-blue-color;
    background-color: white; 
    border: 1px solid $main-blue-color;
    border-radius: 50px;

    &:hover{
      background-color: $main-blue-color; 
      color: white;
    }

    &:focus {
      outline: none;
    }
  }
}