nav {
    width: 100%;
    margin: 50px;

    ul {

        img {
            float: left;
            width: 200px;
        }

        li {
            display: inline;
            font-size: 17px;
            color: black;
            margin: 30px;
            padding: 10px;
            &:hover {
                background-color: grey;
            }

        }
    }
}
