.techs-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    div.techs-filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
        margin-bottom: 20px;
        
        .filter {
            width: 200px;
            margin: 10px;
            padding: 5px 20px;
            font-family: 'Montserrat-Medium'; 
            border: 1px solid $main-blue-color;
            border-radius: 30px;

            &:focus,&:hover {
                background-color: $main-blue-color;
                color: white;
                outline: none;
            }               
        }
    }

    div.techs-footer {
        display: flex;
        margin: 20px 0;
        padding: 5px 25px;
        text-align: center;
        font-family: 'Montserrat-Medium'; 
        color: $main-blue-color;
        background-color: white;
        border: 1px solid $main-blue-color;
        border-radius: 30px;

        &:hover {
            color: white;
            background-color: $main-blue-color;
        }
    }

    @media (max-width: 400px){

        align-items: center;
        justify-content: center;
        div.techs-filters {
            .filter-input{
                width: 128px;
            }
            .filter-sort, .filter-type{
                width: 170px;
            }
        }

        div.techs-footer {
            width: 200px;
            padding: 0;
        }
    }
}