.techs-listing{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  
    div.techs-filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        margin-bottom: 20px;

        .filter {
            width: 200px;
            margin: 10px;
            padding: 5px 20px;
            font-family: 'Montserrat-Medium'; 
            border: 1px solid $main-blue-color;
            border-radius: 30px;

            &:focus {
                background-color: $main-blue-color;
                color: white;
                outline: none;
            }               
        }
    }

    div.techs-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        justify-content: center;
    }

    div.techs-footer {
        display: flex;
        align-self: flex-end;
        align-content:space-around;
        margin-top: 20px;
        padding: 5px 25px;
        font-family: 'Montserrat-Medium'; 
        color: $main-blue-color;
        background-color: white;
        border: 1px solid $main-blue-color;
        border-radius: 30px;

        &:hover {
            color: white;
            background-color: $main-blue-color;
        }
    }
}